#Clona el .env.example y ponle el nombre de .env NO BORRAR ESTE ARCHIVO
DATABASE_URL=postgresql+psycopg://postgres:contraseña@localhost:5432/gestion_academica
SECRET_KEY=coloca_aqui_tu_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60